<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
<!-- <survey [model]="surveyModel"></survey> -->



<!-- 
<div>
  <button (click)="startListening()">Start Listening</button>
  <p>User said: {{ userSpeech }}</p>
</div> -->





<div>
  <!-- <input id="spokenText" {{spokenTextInput}} placeholder="Spoken text will appear here" disabled> -->
  <!-- <button id="alanBtn">Alan AI</button> -->
  <!-- <h1 {{spokenWord}}></h1> -->

  <!-- <input type="text" value="{{ spokenWord }}"  /> -->
  <!-- <input value="{{ receivedData }}"/> -->

  
</div>





